@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@200..800&family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.close {
    display: none;
}

.home ul li {
    width: 15px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 20px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    flex-wrap: wrap;
}

.footer a {
    color: gray;
}


.right {
    margin: 16px 0;
    width: 75vw;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 15px;
}

.spotifyPlalist {
    padding: 16px;
}

.spotifyPlalist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    position: relative;
    transition: all 1s;


}

.card:hover {
    background-color: rgb(44, 43, 43);
    cursor: pointer;
    --a: 1 top: 170px;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    font-size: 14px;
    /* position: relative; */
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 170px;
    right: 20px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.play:hover {
    opacity: 1;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(150, 146, 146);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.signupbtn:hover {
    font-size: 15px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: 500;
    border-radius: 21px;
    width: 80px;
    cursor: pointer;
    border: none;
}

.loginbtn:hover {
    font-weight: bold;
    width: 82px;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background: #b0b0b0;
    width: 90%;
    border-radius: 20px;
    width: 70vw;
    padding: 12px;
    min-height: 40px;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hamburger {
    display: none;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songList ul {
    padding: 0 12px;
    margin-top: 22px;
    overflow-wrap: break-word;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    /* padding: 12px 0; */
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList {
    height: 450px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList .info {
    font-size: 13px;
    width: auto;
}

.info div {
    word-break: break-all;
    justify-content: start;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    width: 55px;
    font-size: 12px;
    /* padding: 12px; */
    max-height: 100vh;
}

.seekbar {
    height: 4px;
    width: 96%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;

}

.circle {
    width: 17px;
    height: 17px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 8px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.songinfo {
    width: 200px;
    word-break: break-all;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.volume input {
    width: 90px;
    cursor: pointer;
}


.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -130%;
        transition: all 0.3s;
        z-index: 1;
        width: 373px;
        padding: 0;
        height: 100vh;
    }

    .left{
        position: fixed;
        top: 0;
        z-index: 2;
    }

    .left .close {
        position: absolute;
        right: 27px;
        top: 27px;
        cursor: pointer;

    }

    .right {
        width: 100vw;
        margin: 0;
        border-radius: 0px;
        /* height: 100vh; */
    }

    .header {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 65px);
        font-size: 12px;
    }

    .songinfo {
        width: auto;
    }



    .seekbar {
        width: calc(100vw - 85px);
        margin-bottom: 11px;
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }

    .card {
        width: 40vw;
    }

    .cardContainer {
        margin: 10px 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px;
    }

    .timevol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 30vh;
    }
    .playbar{
        right: 18px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 70vw;
    }

    .left {
        width: 300px;
    }

    .header>*{
        padding: 2px;
    }

    .buttons>*{
        margin: 5px 12px;
        padding: 8px;
    }

    .header{
        position: fixed;
        top: 0;
        z-index: 1;
        
    }

    .spotifyPlalist{
        margin-top: 3vh;
    }
    
    
}